# Binary built files
bin/
server

# IDE & OS files
.vscode/
.idea/
.DS_Store

# Temporary files
*.tmp
*.log

# Terraform local cache & state files
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

